@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
  :root{
    --PhoneInput-color--focus:none
  }
  .input{
    background: #ddd;
    outline:none;
    padding: 8px;
  }

  .PhoneInput :nth-child(2){
    outline:none;
  }
}