@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --PhoneInput-color--focus: none;
  }
  .input {
    background: #ddd;
    outline: none;
    padding: 8px;
  }

  .PhoneInput :nth-child(2) {
    outline: none;
  }

  .centerY {
    transform: translateY(-50%);
    top: 50%;
  }
  .centerX {
    transform: translateX(-50%);
    left: 50%;
  }
  .purpleShadow {
    box-shadow: 0px 0px 5px 4px rgba(153, 68, 238, 0.8);
    -webkit-box-shadow: 0px 0px 5px 4px rgba(153, 68, 238, 0.8);
    -moz-box-shadow: 0px 0px 5px 4px rgba(153, 68, 238, 0.8);
  }
  .whiteShadow {
    box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.8);
    -webkit-box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.8);
    -moz-box-shadow: 0px 0px 15px 1px rgba(255,255,255,0.8);
  }

  .toLeft{
    transform: translateX(-150%);
  }
  .toRight{
    transform: translateX(150%);
  }
  .reduce{
    transform: scale(0.000001) translateX(50%);
    opacity: 1;

  }
  .selectDisable {
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}


}
